name: Upload w2

on:
  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout empty tree
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          sparse-checkout: |
            !*
          sparse-checkout-cone-mode: false

      # - name: Set up Helm
      #   uses: azure/setup-helm@v3

      # - name: Download Helm chart
      #   run: |
      #     helm pull oci://registry-1.docker.io/bitnamicharts/kafka --version 32.4.3
      - name: Download docker 
        run: |
          docker pull apache/kafka:4.1.1
          docker save -o kafka-4.1.1.tar apache/kafka:4.1.1

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Add and commit only new files
        run: |
          git add .
          git commit -m "chore: upload Kafka chart"
          git push
